@import "variable.scss";

.header {
  margin: 24px auto 16px;

  .title-border {
    border-left: 5px solid $google;
  }

  .content {
    background-color: $vulture;
    color: $vanilla;
    padding: 24px 16px;

    .image-container {
      background-color: $genius;
      text-align: center;
      height: 100%;
      padding-top: 40%;

      @media screen and (max-width: $break-large) {
        padding-top: 50%;
      }

      @media screen and (max-width: $break-medium) {
        padding-top: 30%;
      }

      @media screen and (max-width: $break-small) {
        padding-top: 40%;
      }

      @media screen and (max-width: $break-extra-small) {
        padding: 48px;
      }
    }
  }
}

.content {
  .actor-name {
    color: $google;
    font-size: 1.3em;
    font-weight: 600;
  }

  .link {
    text-align: right;
    color: $turquoise;
  }

  .card-container {
    @media screen and (min-width: $break-large) {
      &:not(:last-child) {
        padding-right: 1rem;
      }
    }

    .play-container {
      text-align: center;
      padding: 20px;
      background-color: $purple;

      &.orange {
        background-color: $orange;
      }
    }

    .card-text {
      color: $genius;
    }
  }
}
