$dark: #000;
$vulture: #313131;
$genius: #757575;
$flip: #dddddd;
$vanilla: #ffffff;
$google: #dc402c;
$twitter: #1a97f1;
$facebook: #395a93;
$turquoise: #94c1ce;
$purple: #551a8b;
$orange: #ff5719;

$break-extra-small: 576px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
