$pyro: #0f48ac;
$sooplai: #135fe5;
$shade: #98b2e1;
$wonder: #f5f8fc;
$dark: #000;
$vulture: #313131;
$genius: #757575;
$flip: #dddddd;
$vanilla: #ffffff;
$fire: #f54b5e;
$candy: #ffeaec;
$tree: #48d2a0;
$leaves: #e8fff7;
$honey: #f8c51c;
$bee: #fff9e3;
$google: #dc402c;
$twitter: #1a97f1;
$facebook: #395a93;

$break-extra-small: 576px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
